*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}
.primary-color-back{
    background-color: #07BDBF;
}

.primary-color{
    color: #07BDBF;
}

.accent-color-back{
    background-color: #E4CEA9;
}
.accent-color{
    color: #E4CEA9;
}

a > .logo_nav{
    height: 15vh;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  height: 100%;
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
