*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}
.primary-color-back{
    background-color: #07BDBF !important;
}

.primary-color{
    color: #07BDBF;
}

.video-container{
    position: relative;
    background-size: cover;
    background-position: fixed;
    overflow: hidden;
    height: 90.5vh !important;
    padding-bottom: 0 !important;
}

.accent-color-back{
    background-color: #E4CEA9 !important;
}
.accent-color{
    color: #E4CEA9 !important;
}

.third-color-back {
    background-color: #BA9A79 !important;
}

.third-color {
    color: #BA9A79 !important;
}

a > .logo_nav{
    height: 15vh;
    z-index: 9999;
}

.rotate {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}


#video-background {
/*  making the video fullscreen  */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.text {
    position: absolute;
    /*background-color: #745842;*/
    background-color: rgba(0,0,0,0.7);
    top: 50%;
    width: 50vw;
    height: 70vh;
    left: 50%;
    text-align: center;
    margin-left: -25vw;
    margin-top: -35vh;
    display: none;
}

@media screen and (max-width: 768px)
{

    #video-background {
        height: auto;
    }

    .text {
        width: 90vw;
        margin-left: -45vw;
    }

    
}


.slogan {
    font-weight: 600;
    font-family: 'Roboto';
}

#portada {
    height: 100vh;
    width: 100%;
    position: relative;
}

.back {
    opacity: 0.8;
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100vh;
    width: auto;
    z-index: -1;
}

.marging-top {
    padding-top: 7vh;
    text-align: justify;
}

#producto {
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner {
    height: 30vh;
    width: 100%;
    position: relative;
}

.textote {
    display: none;
    font-size: 3em;
    text-align: center;
    padding-top:10vh;
    font-style: italic;
}

#datos-escuela {
    height: 100vh;
    position: relative;
    z-index: 1;
}

#datos-escuela .bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/stand.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
#sidenav-overlay {
    z-index: 0 !important;
}
.textote_visible {
    font-size: 4em !important;
    text-align: center;
    padding-top:10vh;
    font-style: italic;
    font-weight: 600;
}

.marging-top-row{
    margin-top: 7vh !important;
}

.salle {
    font-size: 3em !important;
    text-align: center;
    padding-top:5vh;
    font-weight: 600;
}

.subtextote {
    font-size: 2.5em !important;
    text-align: center;
    padding-top:3vh;
    font-weight: 450;
}

.cadatextote {
    font-size: 2em !important;
    text-align: justify;
    padding-top: 3vh;
    font-weight: 450;
}

.members {
    text-align: center;
}

/*.userView {
    background: url(../images/letters-back-poster.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.pedir{
    margin-top: 60vh !important;
    width: 50%;
    margin-left: 25%;
} 

.imagen-footer {
    height: 30vh !important;
    margin-top: 5%;
    width: 20vw;
}

.chipmember{
    margin-top: 3vh;
    background-color: #07BDBF !important;
    color: #fff !important;
}

.margin_ul_footer {
    font-size: 1.2em;
    line-height: 5vh;
}

@media screen and (max-width: 760px)
{
    .textote {
        padding-top: 5vh;
    }
    .textote_visible {
        font-size: 2.5em !important;
    }

    .slogan {
        font-size: 2.5em;
    }

    .pedir {
        margin-top: 50vh !important;
        width: 80%;
        margin-left: 10%;
    }
    #footer-good {
        margin-left: 0vw !important;
        text-align: center;
    }
    
    .imagen-footer {
        width: 70vw;
    }

    .margin_ul_footer {
        margin-left: 10vw !important;
    }

    .mobile-all-width {
        width: 90% !important;
    }

    #datos-escuela {
        height: 200vh !important;
    }
}
